body{
    background-color:red;
}
button{
    background-color:blue;
    color:pink;
}
h1{
    color:#AA1000;
    background-color:red;
}
nav{
    text-transform:uppercase;
    color:pink;
    font-family:serif;
}
body{
    font-family:serif;
}
nav:hover {
    text-transform:lowercase;
    font-family:arial;
}
h1:hover{
    font-family:serif;
    background-color:yellow;
}
h2:hover{
    font-family:serif;
    background-color:yellow;
}
h3:hover{
    font-family:serif;
    background-color:yellow;
}
h4:hover{
    font-family:serif;
    background-color:yellow;
}

.services i{
    
    font-size: 40px; 
    padding: 20px 20px;
    color: #fff;
    background-color:blue;
    width:80px;
    height:80px;
    border-radius:50%;
    
}

.services span{
    width:200px;
    display:inline-block;
    
}

img{
    width:100px;
}













